<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      
 
     
    <title>Detecting No ball</title>
    <link rel="stylesheet" href="css/style.css">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</head>
<body>
 
  <!-- Show  Banner-->
 
    <form action="/predict" method="post" enctype="multipart/form-data" style="margin-top: 50px; width: 60%; text-align: center; margin: auto;" onsubmit="showloading()">
        <span class="text-left btn btn-default btn-file">
            Upload Image <input type="file" name="image">
        </span>   
     
        <span class="text-right">
          <input type="submit" value="Predict" class="btn btn-primary">
        </span>
      </form>
 
</body>
</html>